<!--s: subpage visual -->
<h3 class="subpage-visual">
  <img class="pc" src="/public/images/business1/implant-visual.jpg" alt="임플란트">
  <img class="mobile" src="/public/images/business1/implant-visual-m.jpg" alt="임플란트">
</h3>
<!--e: subpage visual -->

<ul class="tab-menu display-flex">
  <li class="tab active"><a href="/business/implant/">임플란트 소개</a></li>
  <li class="tab"><a href="/business/implant/services#1">네비게이션<br>임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#2">즉시 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#3">앞니 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#4">어른신 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#5">자연치임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#6">뼈이식 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#7">틀니 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#8">전체 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#9">재수술 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#10">보험 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#11">시술 후 주의사항</a></li>
</ul>

<section>
  <div class="wrap">
    <img src="/public/images/business1/1.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business1/2.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business1/3.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business1/4.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business1/5.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business1/6.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business1/7.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business1/8.png" alt="">
  </div>
</section>
