<!--s: subpage visual -->
<h3 class="subpage-visual">
  <img class="pc" src="/public/images/business1/implant-visual.jpg" alt="임플란트">
  <img class="mobile" src="/public/images/business1/implant-visual-m.jpg" alt="임플란트">
</h3>
<!--e: subpage visual -->

<ul class="tab-menu display-flex">
  <li class="tab"><a href="/business/implant/">임플란트 소개</a></li>
  <li class="tab"><a href="/business/implant/services#1">네비게이션<br>임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#2">즉시 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#3">앞니 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#4">어른신 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#5">자연치임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#6">뼈이식 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#7">틀니 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#8">전체 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#9">재수술 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#10">보험 임플란트</a></li>
  <li class="tab"><a href="/business/implant/services#11">시술 후 주의사항</a></li>
</ul>

<div class="tab-contents">
  <!--s: service1  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service1/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service1/2.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service1/3.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service1  -->

  <!--s: service2  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service2/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service2/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service2  -->

  <!--s: service3  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service3/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service3/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service3  -->

  <!--s: service4 -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service4/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service4/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service4  -->

  <!--s: service5  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service5/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service5/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service5  -->

  <!--s: service6  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service6/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service6/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service6  -->

  <!--s: service7  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service7/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service7/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service7  -->

  <!--s: service8  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service8/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service8/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service8  -->

  <!--s: service9  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service9/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service9/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service9  -->

  <!--s: service10  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service10/1.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service10  -->

  <!--s: service11  -->
  <div class="tab-cont">
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service11/1.png" alt="">
      </div>
    </section>
    <section>
      <div class="wrap">
        <img src="/public/images/business1/service11/2.png" alt="">
      </div>
    </section>
  </div>
  <!--e: service11  -->
</div>
