<h2>business</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iste sunt possimus ipsam, voluptate deleniti quis quidem. Nulla distinctio iure, accusamus nostrum, ipsum quia veritatis voluptas nam, ullam illo aperiam!
</p>
<ul>
  <% for(i=0; i<contents.length; i++) { %> 
  <li><%= contents[i].menu %></li>
  <% } %> 
</ul>