<!--s: subpage visual -->
<h3 class="subpage-visual">
  <img class="pc" src="/public/images/contact/contact-visual.jpg" alt="온라인 상담">
  <img class="mobile" src="/public/images/contact/contact-visual-m.png" alt="온라인 상담">
</h3>
<!--e: subpage visual -->

<section>
  <div class="wrap">
    <h2>1:1 문의</h2>
    <form class="w-1/2 mx-auto bg-white rounded-md" id="mailForm" action="/contact/sendmail" method="POST">
      <div class="mb-3 row">
        <div class="col">
          <input onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" name="contact_phone" type="text" class="form-control col" placeholder="답변받을 연락처 EX) 01012345678" maxlength="11" required>
        </div>
        <div class="col">
          <select class="form-control col" name="contact_type" id="contactType" required>
            <option value="1">종합진료</option>
            <option value="2">임플란트</option>
            <option value="3">충치치료</option>
            <option value="4">기타</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <input name="contact_subject" type="text" class="form-control" placeholder="제목을 입력해주세요." required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" name="contact_content" required></textarea>
      </div>
      <button class="btn btn-primary mb-3" type="submit">전송</button>
    </form>
  </div>
</section>