<section>
  <div class="wrap">
    <h2>contact</h2>
    <form class="w-1/2 mx-auto bg-white rounded-md" id="mailForm" action="/contact/sendmail" method="POST">
      <div class="mb-3 row">
        <div class="col">
          <input name="contact_phone" type="text" class="form-control col" placeholder="답변받을 연락처 EX) 01012345678" maxlength="11" required>
        </div>
        <div class="col">
          <select class="form-control col" name="contact_type" id="contactType" required>
            <option value="1">1번</option>
            <option value="2">2번</option>
            <option value="3">3번</option>
            <option value="4">4번</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <input name="contact_subject" type="text" class="form-control" placeholder="제목을 입력해주세요." required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" name="contact_content" required></textarea>
      </div>
      <button class="btn btn-primary mb-3" type="submit">전송</button>
    </form>
  </div>
</section>