<header>
  <div class="wrap">
    <h1 id="topLogo">
      <a href="/">
        <img src="/public/images/common/top_logo.png" alt="">
      </a>
    </h1>
    <nav>
      <ul class="display-flex">
        <li><a href="/about">의원소개</a></li>
        <li><a href="/business/implant">임플란트</a></li>
        <li><a href="/business/general">종합진료</a></li>
        <li><a href="/board">공지사항</a></li>
        <li><a href="/contact">1:1문의</a></li>
      </ul>
    </nav>
  </div>

  <!--s: mobile gnb btn -->
  <div id="mobileGnbBtn">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!--e: mobile gnb btn -->

  <!--s: mobile gnb -->
  <div id="mobileGnb">
    <ul>
      <li><a href="/about">의원소개</a></li>
      <li><a href="/business/implant">임플란트</a></li>
      <li><a href="/business/general">종합진료</a></li>
      <li><a href="/board">공지사항</a></li>
      <li><a href="/contact">1:1문의</a></li>
      <li><a href="tel:062-225-3000">전화문의</a></li>
    </ul>
  </div>
  <!--e: mobile gnb -->
</header>