/* contact css */ 
#contactPage textarea {
  resize: none;
  height: 250px;
}
#contactPage button[type='submit'] {
  width: 100%;
  display: block;
  padding: 15px 0;
  background-color: #345985;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}