/* max-width 719px */
@media screen and (max-width:719px) {
  /* common */
  .content {
    padding: 64px 0 35px;
  }
  section {
    padding: 30px 15px;
  }
  
  /* nav */
  header {
    background-color: rgba(255, 255, 255, 1);
  }
  header .wrap {
    padding: 15px 15px 12px;
  }
  header h1 {
    margin: 0;
  }
  header h1 a {
    display: block;
    width: 200px;
  }
  header h1 a img {
    width: 100%;
  }
  header nav {
    display: none;
  }
  #mobileGnbBtn {
    display: block;
  }
  #mobileGnbBtn {
    position: fixed;
    margin: 0 auto;
    width: 30px;
    height: 20px;
    cursor: pointer;
    top: 22px;
    right: 15px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
  }
  #mobileGnbBtn span {
    position: absolute;
    height: 3px;
    width: 50%;
    background: #3e3e3e;
    opacity: 1;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
  }
  #mobileGnbBtn span:nth-child(1),
  #mobileGnbBtn span:nth-child(2) {
    top: 0;
  }
  #mobileGnbBtn span:nth-child(3),
  #mobileGnbBtn span:nth-child(4) {
    top: 10px;
  }
  #mobileGnbBtn span:nth-child(5),
  #mobileGnbBtn span:nth-child(6) {
    top: 20px;
  }
  #mobileGnbBtn span:nth-child(even) {
    left: 50%;
  }
  #mobileGnbBtn.open {
    top: 22px;
    right: 15px;
  }
  #mobileGnbBtn.open span {
    width: 70%;
    background-color: #3e3e3e;
  }
  #mobileGnbBtn.open span:nth-child(1) {
    transform: translateX(5px) translateY(7px) rotate(45deg);
    -webkit-transform: translateX(5px) translateY(7px) rotate(45deg);
    -moz-transform: translateX(5px) translateY(7px) rotate(45deg);
    -ms-transform: translateX(5px) translateY(7px) rotate(45deg);
    -o-transform: translateX(5px) translateY(7px) rotate(45deg);
  }
  #mobileGnbBtn.open span:nth-child(2) {
    transform: translateX(-5px) translateY(7px) rotate(-45deg);
    -webkit-transform: translateX(-5px) translateY(7px) rotate(-45deg);
    -moz-transform: translateX(-5px) translateY(7px) rotate(-45deg);
    -ms-transform: translateX(-5px) translateY(7px) rotate(-45deg);
    -o-transform: translateX(-5px) translateY(7px) rotate(-45deg);
  }
  #mobileGnbBtn.open span:nth-child(3) {
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  #mobileGnbBtn.open span:nth-child(4) {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  #mobileGnbBtn.open span:nth-child(5) {
    transform: translateX(5px) translateY(-8px) rotate(-45deg);
    -webkit-transform: translateX(5px) translateY(-8px) rotate(-45deg);
    -moz-transform: translateX(5px) translateY(-8px) rotate(-45deg);
    -ms-transform: translateX(5px) translateY(-8px) rotate(-45deg);
    -o-transform: translateX(5px) translateY(-8px) rotate(-45deg);
  }
  #mobileGnbBtn.open span:nth-child(6) {
    transform: translateX(-5px) translateY(-8px) rotate(45deg);
    -webkit-transform: translateX(-5px) translateY(-8px) rotate(45deg);
    -moz-transform: translateX(-5px) translateY(-8px) rotate(45deg);
    -ms-transform: translateX(-5px) translateY(-8px) rotate(45deg);
    -o-transform: translateX(-5px) translateY(-8px) rotate(45deg);
  }
  #mobileGnb {
    position: fixed;
    right: -100%;
    width: 100%;
    bottom: 0;
    top: 64px;
    display: block;
    opacity: 0;
    background-color: #fff;
    z-index: 9998;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
  #mobileGnb.open {
    right: 0;
    opacity: 1;
  }
  #mobileGnb li a {
    margin: 0 0 0 10px;
    padding: 16px 15px 16px 50px;
    display: block;
    width: 100%;
    font-size: 18px;
    color: #3e3e3e;
  }
  #mobileGnb li:nth-child(1) a {
    background-image: url("/public/images/common/nav-about.png");
    background-position: 8px 12px;
    background-size: 35px;
    background-repeat: no-repeat;
  }
  #mobileGnb li:nth-child(2) a {
    background-image: url("/public/images/common/nav-busi1.png");
    background-position: 8px 12px;
    background-size: 35px;
    background-repeat: no-repeat;
  }
  #mobileGnb li:nth-child(3) a {
    background-image: url("/public/images/common/nav-busi2.png");
    background-position: 8px 12px;
    background-size: 35px;
    background-repeat: no-repeat;
  }
  #mobileGnb li:nth-child(4) a {
    background-image: url("/public/images/common/nav-notice.png");
    background-position: 8px 12px;
    background-size: 35px;
    background-repeat: no-repeat;
  }
  #mobileGnb li:nth-child(5) a {
    background-image: url("/public/images/common/nav-contact.png");
    background-position: 8px 12px;
    background-size: 35px;
    background-repeat: no-repeat;
  }
  #mobileGnb li:nth-child(6) a {
    background-image: url("/public/images/common/nav-cs.png");
    background-position: 14px 15px;
    background-size: 26px;
    background-repeat: no-repeat;
  }
  
  /* footer */
  footer .wrap {
    padding: 20px 15px;
    flex-direction: column;
  }
  footer .footer-info {
    margin: 0 0 15px;
    width: 100%;
  }
  .footer-info1 h3 {
    margin: 0 0 12px;
  }
  .footer-info1 h3 img {
    width: 180px;
    position: relative;
    left: -10px;
  }
  .footer-info1 ul {
    margin: 0 0 0 28px;
  }
  .footer-info2 img {
    display: none;
  }
  .footer-info2,
  .footer-info3 {
    padding: 0 0 0 28px;
  }
  .footer-info2 h4,
  .footer-info3 h4 {
    margin: 0 0 8px;
    font-size: 16px;
  }
  .footer-info2 li,
  .footer-info3 li {
    margin: 0 0 5px;
    font-size: 13px;
  }

  /* main page */
  #mainPage .img-intro-title {
    margin: 0 0 25px;
  }
  #mainPage #intro .box {
    padding: 20px;
  }
  #mainPage #intro .box1 .left,
  #mainPage #intro .box1 .right {
    width: 100%;
    max-width: 100%;
    flex: none;
    padding: 0;
  }
  #mainPage #intro .box1 .left .row {
    margin: 0;
  }
  #mainPage #intro .box1 .left .col-6 {
    padding: 0;
    max-width: 100%;
    flex: none;
  }
  #mainPage #intro .box1 .right {
    margin: 30px 0 0;
  }
  #mainPage #intro .box2 .row {
    margin: 0;
  }
  #mainPage #intro .box2 .col-7,
  #mainPage #intro .box2 .col-5 {
    max-width: 100%;
    flex: none;
  }
  #mainPage #intro .box2 .counsel {
    margin: 0 0 30px;
  }
  #mainPage #intro .box2 .counsel img {
    max-width: 180px;
  }
  #mainPage #intro .box2 .counsel p {
    font-size: 16px;
  }
  #mainPage #intro .box2 .counsel ul {
    margin: 0 0 10px;
  }
  #mainPage #intro .box2 dl dt {
    margin: 0;
    width: 100%;
    font-size: 15px;
  }
  #mainPage #intro .box2 dl dd {
    width: 100%;
    font-size: 14px;
  }
  #mainPage #intro h4 {
    margin: 0 0 20px;
    font-size: 20px;
  }
  #mainPage #intro li {
    margin: 0 0 5px;
    font-size: 15px;
  }
  #mainPage #communicate {
    background-image: url("/public/images/main/sec2-bg-m.png");
  }
  #mainPage #communicate .box h4 {
    font-size: 20px;
    margin: 0 0 20px;
  }
  #mainPage #communicate .box h4::after {
    width: 75px;
  }
  #mainPage #communicate .notice-board th {
    padding: 10px;
  }
  #mainPage #communicate .notice-board td {
    padding: 10px;
    font-size: 13.5px;
  }
  #mainPage #communicate .notice-board th:nth-child(1) {
    width: 70%;
  }
  #mainPage #communicate .notice-board th:nth-child(2) {
    width: 30%;
  }
  #mainPage #communicate .sns {
    margin: 25px 0 0;
  }
  #mainPage #communicate .sns li {
    width: 100%;
    max-width: 200px;
    margin: 15px auto;
  }
  #mainPage #communicate .sns .text-area h6 {
    font-size: 18px;
  }
  #mainPage #map h4 {
    margin: 0 0 20px;
    font-size: 20px;
  }
  #mainPage #mapLoader {
    height: 360px;
  }
  #mainPage .traffic-guide dt {
    font-size: 16px;
  }
  #mainPage .traffic-guide dd {
    font-size: 15px;
  }
  
  /* sub page */
  .subpage-visual .pc {
    display: none;
  }
  .subpage-visual .mobile {
    display: block;
  }
  #aboutPage section h4 {
    margin: 0 0 25px;
    font-size: 24px;
  }
  #aboutPage #greeting .box {
    flex-direction: column;
    box-shadow: 1px 1px 8px 2px #ddd;
  }
  #aboutPage #greeting .img-cont {
    width: 100%;
  }
  #aboutPage #greeting .img-cont img {
    width: 100%;
    max-width: 100%;
  }
  #aboutPage #greeting .txt-cont {
    width: 100%;
    box-shadow: none;
  }
  #aboutPage #greeting .txt-cont:hover {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  #aboutPage #greeting h6 {
    font-size: 18px;
  }
  #aboutPage #greeting p {
    font-size: 15px;
  }
  #aboutPage #estimate h5 {
    margin: 0 0 15px;
    font-size: 20px;
  }
  #aboutPage #estimate th {
    font-size: 13.5px;
  }
  #aboutPage #estimate td {
    font-size: 13.5px;
  }
  #businessPage1 .tab-menu.sticky {
    position: static;
  }
  #businessPage1 .tab-menu li {
    width: calc(100% / 3);
  }
  #businessPage1 .tab-menu li a {
    font-size: 13.5px;
  }
  #businessPage2 .tab-menu.sticky {
    position: static;
  }
  #businessPage2 .tab-menu li {
    width: calc(100% / 3);
  }
  #businessPage2 .tab-menu li a {
    font-size: 13.5px;
  }
  #communityPage .table td,
  #communityPage .table th {
    padding: 5px;
    box-sizing: border-box;
    font-size: 13.5px;
  }
}

/* max-width 419 */
@media screen and (max-width:419px) {
   /* aside */
  aside {
    position: fixed;
    bottom: 0;
    top: inherit;
    left: 0;
    right: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  aside ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  aside li {
    width: 20%;
    margin: 0;
  }
  aside li a {
    display: block;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: 1px solid #ddd;
    height: auto;
  }
  aside li:nth-child(4) a,
  aside li:nth-child(5) a {
    line-height: 70px;
    font-size: 13px;
    height: 100%;
  }
  aside li a img {
    display: block;
    width: 100%;
  }

  /* sub page */
  #contactPage form .field {
    flex-direction: column;
    margin: 0;
  }
  #contactPage form .field-input {
    width: 100%;
    padding: 0;
    margin: 3px 0;
  }

  /* footer */
  footer {
    padding: 0 0 24%;
  }
}