/* admin */
.display-admin {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  width: 140px;
}
.display-admin h3 {
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: coral;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

@import url("./common.css");
@import url("./nav.css");
@import url("./main.css");
@import url("./business1.css");
@import url("./business2.css");
@import url("./about.css");
@import url("./contact.css");

/* aside */
aside {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 9991;
}
aside li {
  margin: 2px 0;
}
aside a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  overflow: hidden;
}
aside a img {
  display: block;
  width: 100%;
}
aside li:nth-child(4) a,
aside li:nth-child(5) a {
  color: #fff;
  text-align: center;
  background-color: #3e3e3e;
  line-height: 80px;
}

/* footer */
footer {
  background-color: #333;
}
footer .wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 35px 30px;
  color: #fff;
  justify-content: space-between;
}
footer .copyright {
  border-top: 1px solid #5c5c5c;
  padding: 5px 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
footer .copyright a {
  color: coral;
}
footer .copyright a:hover {
  color: coral;
}
footer .footer-info {
  width: 33.333333%;
}
.footer-info1 h3 {
  margin: 0 0 30px;
}
.footer-info1 h3 img {
  width: 250px;
}
.footer-info1 ul {
  margin: 0 0 0 50px;
}
.footer-info1 li {
  margin: 0 0 8px;
  font-size: 14px;
}
.footer-info2,
.footer-info3 {
  padding: 0 0 0 50px;
}
.footer-info2 h4,
.footer-info3 h4 {
  margin: 0 0 25px;
  font-size: 18px;
}
.footer-info2 li,
.footer-info3 li {
  margin: 0 0 8px;
  font-size: 14px;
}
.footer-info2 img {
  display: block;
  width: 100%;
}
.footer-info3 li:nth-child(4),
.footer-info3 li:nth-child(5) {
  color: #ffde00;
}
