<!--s: subpage visual -->
<h3 class="subpage-visual">
  <img class="pc" src="/public/images/business2/total-visual.jpg" alt="종합진료">
  <img class="mobile" src="/public/images/business2/total-visual-m.png" alt="종합진료">
</h3>
<!--e: subpage visual -->

<ul class="tab-menu display-flex">
  <li class="tab active"><a href="/business/general/">종합진료 소개</a></li>
  <li class="tab"><a href="/business/general/services#1">충치</a></li>
  <li class="tab"><a href="/business/general/services#2">틀니</a></li>
  <li class="tab"><a href="/business/general/services#3">신경치료</a></li>
  <li class="tab"><a href="/business/general/services#4">스케일링</a></li>
  <li class="tab"><a href="/business/general/services#5">치주질환</a></li>
  <li class="tab"><a href="/business/general/services#6">잇몸치료</a></li>
  <li class="tab"><a href="/business/general/services#7">심미치료</a></li>
  <li class="tab"><a href="/business/general/services#8">올바른 칫솔질 방법</a></li>
  <li class="tab"><a href="/business/general/services#9">시니어</a></li>
</ul>

<section>
  <div class="wrap">
    <img src="/public/images/business2/1.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business2/2.png" alt="">
  </div>
</section>

<section>
  <div class="wrap">
    <img src="/public/images/business2/3.png" alt="">
  </div>
</section>