<form class="w-1/2 mx-auto bg-white rounded-md" id="writeFrom" action="/board/update" method="post">
  <input type="hidden" name="board_no" value="<%= row.board_no %>">
  <div class="mb-3">
    <label class="form-label" for="author">이름</label>
    <input class="form-control" id="author" type="text" name="author" value="<%= row.author %>">
  </div>
  <div class="mb-3">
    <label class="form-label" for="boardTitle">글제목</label>
    <input class="form-control" id="boardTitle" type="text" name="board_title" value="<%= row.board_title %>">
  </div>
  <div class="mb-3">
    <label class="form-label" for="boardContent">내용</label>
    <textarea class="form-control summernote" id="boardContent" type="text" name="board_content"><%= row.board_content %></textarea>
  </div>
  <button class="btn btn-primary mb-3" type="submit">저장</button>
</form>
