<form class="w-1/2 mx-auto bg-white rounded-md" id="writeFrom" action="/board/create" method="post">
  <label for="author">이름</label>
  <input id="author" type="text" name="author">
  <label for="boardTitle">글제목</label>
  <input id="boardTitle" type="text" name="board_title">
  <label for="boardContent">내용</label>
  <textarea id="boardContent" type="text" name="board_content"></textarea>
  <button type="submit">전송</button>
</form>